In [49]:
import numpy as np 
import pandas as pd 
import nltk
from nltk.corpus import stopwords
import string
import os
import re
import matplotlib.pyplot as plt

In [50]:
df = pd.read_csv('anime.csv')

In [51]:
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
11107,32615,Youjo Senki,"Magic, Military",TV,Unknown,NaN,6652
11108,32222,Youkai Watch Movie 3: Soratobu Kujira to Doubl...,"Comedy, Kids, Supernatural",Movie,1,NaN,237
11109,34471,Youkai Watch Movie 4,"Comedy, Kids, Supernatural",Movie,1,NaN,169
11110,34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593
11111,34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439

In [52]:
df.drop_duplicates(inplace = True)

In [53]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [54]:
from string import punctuation
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import SnowballStemmer

In [55]:
df['genre'] = df['genre'].astype(str)

In [56]:
def clean_txt(sent):    

    
    tokens = word_tokenize(sent.lower())
    stop_updated =list(punctuation) + ["would", "could","told"]
    x = [term for term in tokens if term not in stop_updated ] 
    res = " ".join(x)
    return res

In [63]:
df['ctext'] = df.genre.apply(clean_txt)

In [64]:
df['cname'] = df.name.apply(clean_txt)

In [12]:
df

,anime_id,name,genre,type,episodes,rating,members,ctext,cname
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,drama romance school supernatural,kimi no na wa
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,action adventure drama fantasy magic military ...,fullmetal alchemist brotherhood
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,action comedy historical parody samurai sci-fi...,gintama°
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,sci-fi thriller,steins gate
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,action comedy historical parody samurai sci-fi...,gintama 039
...,...,...,...,...,...,...,...,...,...
11109,34471,Youkai Watch Movie 4,"Comedy, Kids, Supernatural",Movie,1,NaN,169,comedy kids supernatural,youkai watch movie 4
11110,34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593,drama fantasy magic slice of life,yuuki yuuna wa yuusha de aru washio sumi no shou
11111,34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439,drama fantasy magic slice of life,yuuki yuuna wa yuusha de aru yuusha no shou
11112,33035,Yuyushiki Special,nan,Special,1,NaN,2294,nan,yuyushiki special
11113,33390,Zunda Horizon,nan,Movie,1,NaN,160,nan,zunda horizon

In [58]:
X_text = df.ctext.values

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=1000)
X = tfidf_vectorizer.fit_transform(X_text)

In [60]:
X.toarray()

array([[0.        , 0.        , 0.        , ..., 0.54775846, 0.        ,
        0.        ],
       [0.29215041, 0.31450986, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.24777358, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.70141031, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [43]:
from sklearn.mixture import GaussianMixture
gmm = GaussianMixture(n_components=500)
gmm.fit(X.toarray())
labels = gmm.predict(X.toarray())

In [61]:
labels

array([416, 421, 493, ..., 234,  24,  24], dtype=int64)

In [74]:
var=input()
tokens = word_tokenize(var.lower())
stop_updated =list(punctuation) + ["would", "could","told"]
s = [term for term in tokens if term not in stop_updated ] 
res = " ".join(s)
y=df[df['cname'] == res].index[0]
var

'haikyuu'

In [75]:
for z in range(0,11113) :
       if labels[z]==labels[y] :
              print("Name:",df.iat[z,1]," Genre:",df.iat[z,2]," Type:",df.iat[z,3]," Episodes:",df.iat[z,4]," Rating:",df.iat[z,5])

Name: Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou  Genre: Comedy, Drama, School, Shounen, Sports  Type: TV  Episodes: 10  Rating: 9.15
Name: Haikyuu!! Second Season  Genre: Comedy, Drama, School, Shounen, Sports  Type: TV  Episodes: 25  Rating: 8.93
Name: Haikyuu!!  Genre: Comedy, Drama, School, Shounen, Sports  Type: TV  Episodes: 25  Rating: 8.68
Name: Kuroko no Basket 3rd Season  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 25  Rating: 8.62
Name: Kuroko no Basket 2nd Season  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 25  Rating: 8.58
Name: Slam Dunk  Genre: Comedy, Drama, School, Shounen, Sports  Type: TV  Episodes: 101  Rating: 8.56
Name: Diamond no Ace: Second Season  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 51  Rating: 8.5
Name: Kuroko no Basket  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 25  Rating: 8.46
Name: Diamond no Ace  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 75  Rating: 8.25
Name: Prince of Tennis: The National Tournament Finals  Genre: Comedy, School, Shounen, Sports  Type: OVA  Episodes: 7  Rating: 8.15
Name: Kuroko no Basket: Tip Off  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 1  Rating: 8.07
Name: Prince of Tennis  Genre: Action, Comedy, School, Shounen, Sports  Type: TV  Episodes: 178  Rating: 8.04
Name: Haikyuu!! Movie 1: Owari to Hajimari  Genre: Comedy, Drama, School, Shounen, Sports  Type: Movie  Episodes: 1  Rating: 7.94
Name: Kuroko no Basket: Mou Ikkai Yarimasen ka  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 1  Rating: 7.86
Name: Kuroko no Basket NG-shuu  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 9  Rating: 7.84
Name: Prince of Tennis: Another Story - Messages From Past and Future  Genre: Comedy, School, Shounen, Sports  Type: OVA  Episodes: 4  Rating: 7.82
Name: Haikyuu!! Movie 2: Shousha to Haisha  Genre: Comedy, Drama, School, Shounen, Sports  Type: Movie  Episodes: 1  Rating: 7.81
Name: Kuroko no Basket: Baka ja Katenai no yo!  Genre: Comedy, School, Shounen, Sports  Type: OVA  Episodes: 1  Rating: 7.75
Name: Diamond no Ace OVA  Genre: Comedy, School, Shounen, Sports  Type: OVA  Episodes: 3  Rating: 7.72
Name: Prince of Tennis: Eikokushiki Teikyuu Shiro Kessen!  Genre: Action, Comedy, School, Shounen, Sports  Type: Movie  Episodes: 1  Rating: 7.6
Name: Aoki Densetsu Shoot!  Genre: Action, Comedy, Drama, Romance, School, Shounen, Sports  Type: TV  Episodes: 58  Rating: 7.53
Name: Kuroko no Basket: Oshaberi Demo Shimasen ka  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 1  Rating: 7.47
Name: Kuroko no Basket: Oshaberi Shiyokka  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 1  Rating: 7.42
Name: Area no Kishi  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 37  Rating: 7.38
Name: Diamond no Ace: Second Season OVA  Genre: Comedy, School, Shounen, Sports  Type: OVA  Episodes: 2  Rating: 7.25
Name: Houkago no Ouji-sama  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 5  Rating: 7.13
Name: Teekyuu 3  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 12  Rating: 6.96
Name: Teekyuu 2  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 12  Rating: 6.91
Name: Prince of Tennis: Message in a Bottle  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 1  Rating: 6.8
Name: Teekyuu  Genre: Comedy, School, Shounen, Sports  Type: TV  Episodes: 12  Rating: 6.77
Name: Teekyuu 2 Specials  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 2  Rating: 6.71
Name: Teekyuu 3 Specials  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 2  Rating: 6.69
Name: Rokudenashi Blues  Genre: Comedy, Drama, School, Shounen, Sports  Type: Movie  Episodes: 1  Rating: 6.62
Name: Rokudenashi Blues 1993  Genre: Action, Comedy, Drama, School, Shounen, Sports  Type: Movie  Episodes: 1  Rating: 6.6
Name: Teekyuu 4 Specials  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 2  Rating: 6.58
Name: Teekyuu 5 Specials  Genre: Comedy, School, Shounen, Sports  Type: Special  Episodes: 2  Rating: 6.35
Name: Batsu &amp; Terry  Genre: Comedy, Drama, School, Shounen, Sports  Type: Movie  Episodes: 1  Rating: 6.19